body {
    background-color:rgb(215, 226, 228);
}

hr {
    
    border-style:  dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}
h1{
    color: #66BFBF;
}
h3{
    color:#66BFBF ;
}